* {
  box-sizing: border-box;
}

.App {
  h1 {
    border: 1px solid red;
    display: block;
    width: 100%;
  }
  text-align: center;
  border: 1px solid black;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}