@import './Mixins.scss';
@import './Variables.scss';

.App {
  background-color: $app-background;
  color: whitesmoke;
  width: 100%;
  height: 100vh;
  margin: auto;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  #app-banner {
    display: block;
    background: $game-background;
    width: 80%;
    @include rounded-shadow-borders($main-color, $main-px, $main-percent);
  }
}