//Variables:
$app-background: rgba(100, 120, 120, 0.7);
$choose-button-background: black;
$choose-button-foreground: whitesmoke;
$play-button-background: steelblue;
$play-button-foreground: whitesmoke;
$game-background: rgba(2, 61, 170, 0.7);
$main-color: black;
$main-px: 10px;
$main-percent: 20%;
$main-weight: 20%;
$select-background: rgba(255, 255, 255, 0.3);
$select-color: rba(0, 0, 0, 0.3); 
$loading-text: greenyellow;